name: CI

env:
  is-merge: ${{ github.event_name == 'push' && github.ref_name == 'main' }}
  is-pull-request: ${{ github.event_name == 'pull_request' }}

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

permissions:
  # Required by nrwl/nx-set-shas
  actions: read
  contents: read

jobs:
  lint:
    name: Linter
    runs-on: ubuntu-latest

    steps:
      - name: Check out source code
        uses: actions/checkout@v3
        with:
          # Required by nrwl/nx-set-shas
          fetch-depth: 0
      - name: 'Derive appropriate SHAs for base and head for `nx affected` commands'
        uses: nrwl/nx-set-shas@v3

      - name: Set up dependencies
        uses: ./.github/actions/setup-dependencies
        with:
          artifact-credentials: ${{ secrets.GCP_ARTIFACT_CREDENTIALS }}

      - name: 'PR: Lint workspace and affected projects'
        if: env.is-pull-request == 'true'
        run: yarn affected:lint
      - name: 'Merge: Lint workspace and all projects'
        if: env.is-merge == 'true'
        run: yarn lint

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Check out source code
        uses: actions/checkout@v3
        with:
          # Required by nrwl/nx-set-shas
          fetch-depth: 0
      - name: 'Derive appropriate SHAs for base and head for `nx affected` commands'
        uses: nrwl/nx-set-shas@v3

      - name: Set up dependencies
        uses: ./.github/actions/setup-dependencies
        with:
          artifact-credentials: ${{ secrets.GCP_ARTIFACT_CREDENTIALS }}

      - name: 'PR: Test affected projects'
        if: env.is-pull-request == 'true'
        run: yarn affected:test
      - name: 'Merge: Test all projects'
        if: env.is-merge == 'true'
        run: yarn test

  deploy-triger:
    name: Trigger deploy of affected projects on merge
    if: ${{ success() && github.event_name == 'push' && github.ref_name == 'main' }}
    needs: [lint, test]
    env:
      TRIGGER_KEY: ${{ secrets.TRIGGER_KEY }}
    runs-on: ubuntu-latest

    steps:
      - name: Check out source code
        uses: actions/checkout@v3
        with:
          # Required by nrwl/nx-set-shas
          fetch-depth: 0
      - name: 'Derive appropriate SHAs for base and head for `nx affected` commands'
        uses: nrwl/nx-set-shas@v3

      - name: Set up dependencies
        uses: ./.github/actions/setup-dependencies
        with:
          artifact-credentials: ${{ secrets.GCP_ARTIFACT_CREDENTIALS }}

      - name: 'Trigger cloud build to deploy only affected projects'
        run: yarn affected:deploy-trigger --trigger-key="$TRIGGER_KEY"
